/vendor
/node_modules

.env
.env.*
!.env.example

.vscode/
.idea/

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.phpunit.result.cache

/storage/app/*
!/storage/app/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/testing/*
!/storage/framework/testing/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/public/hot
/public/storage
/public/themes

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

composer-setup.php

Homestead.json
Homestead.yaml

*.sql
*.zip
/6valy_db.sql

*.map
style.css.map
style-extended.css.map

temp-data-folder/

/Modules/Gateways
/public/Modules/Gateways